---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, p, a, code {
	font: "Helvetica Neue";
}

a:hover, a:focus {
	font-weight: normal;
}

pre > code {
	font-size: 75%;
}	

table {
	border-spacing: 0px;
    border-collapse: collapse;
}

td {
    border: none;
}
